.timerContainer {
  /* or inline-flex */
   /*justify-content: space-around;
  /* position: fixed; */
   top: 0;
   background: #191409;
   width:100%;
 }

 .elite {
   display: inline-block; 
   color: #DFA736;
   font-family: 'Times New Roman', cursive;
   font-size: 35px;
   margin: 0 auto;
   margin-left: 550px;  
 }
 .eliteGeneral {
   display: inline-block; 

 }
 .elite:hover {
   color: #FF5252;
 }

 .timer, .sectionType {
   display: inline-block;
 font-family:'Times New Roman', monospace;
 }
 .timer {
   color: #FF5252;
   font-size: 20px;
   float:right;
   margin-right:50px; 
 }

 .sectionType {
   margin-top:5px;
   color: white;
   font-size: 25px;
   margin-left: 30px; 
 }

 @media screen and (max-width: 1280px) {
  .elite {
    margin-left: 300px; 
  }
  .timer {
    margin-right:30px; 
  }
  
 }

